@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}


/* One is for the index page and the other is for the other pages */

.body1 {
    font-family: Lato;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    background: #ececec;
    box-sizing: border-box;
}

.body2 {
    font-family: Lato;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    background: #ececec;
    box-sizing: border-box;
}

.header {
    height: 15vh;
    background: linear-gradient(to right, rgba(88, 47, 37, 0.8), rgba(37, 78, 88, 0.8)), url("img/bc.png") no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
    position: relative;
}

.header1 {
    height: 25vh;
    background: linear-gradient(to right, rgba(88, 47, 37, 0.8), rgba(37, 78, 88, 0.8)), url("img/bc.png") no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
    position: relative;
}

.logo {
    position: relative;
    top: 3rem;
    left: 4rem;
    display: inline-block;
}

.header .logo h1 {
    color: #fff;
    font-size: 4rem;
}

.feature-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 2rem;
    text-align: center;
    backface-visibility: hidden;
    transform: translate(-50%, -50%);
}

.menu-icon {
    position: fixed;
    right: 5rem;
    top: 5rem;
    height: 8rem;
    cursor: pointer;
    z-index: 9999;
}

.menu-icon img {
    height: 100%;
}

.nav-bar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.nav-bar ul li {
    display: block;
    text-align: center;
    z-index: 10;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 3.5rem;
    transition: all 0.3s ease;
    z-index: 10;
}

.nav-bar ul li a:hover {
    color: #777;
    z-index: 10;
}

.main-wrapper {
    background: #fff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: block;
    overflow: hidden;
    min-height: 90rem;
    position: relative;
    margin: 0 auto;
}

.wrapper2 {
    background: #ECECEC;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: block;
    overflow: hidden;
    min-height: 90rem;
    position: relative;
    margin: 0 auto;
}

.theme-btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translatey(-3px);
    color: #777;
}

.theme-btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translatey(-1px);
    color: #777;
}

.theme-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background: #fff;
    color: #720cf9;
}

.theme-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}


/* Trying some cool stuff :p */

.theme-btn {
    background: #fff;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.8rem;
    backface-visibility: hidden;
}

.feature-content h1,
.feature-content p {
    color: #fff;
    display: block;
    text-transform: uppercase;
}

.feature-content h1 {
    font-size: 3rem;
    letter-spacing: 1.1rem;
    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.feature-content p {
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    animation: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translatex(-100px);
    }
    80% {
        transform: translatex(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translatex(100px);
    }
    80% {
        transform: translatex(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/*--------------------------*/

.realistic {
    color: #222;
    font-family: Georgia, Baskerville, serif;
    font-size: 30px;
    position: absolute;
    top: -300px;
    left: 0;
    opacity: 0.25;
    transform-origin: 50% 600px;
    max-width: 900px;
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(8deg) rotateX(45deg);
    text-shadow: 0 0 3px rgba(34, 34, 34, 0.6), 0 0 1px rgba(34, 34, 34, 0.2);
    text-align: justify;
}

p {
    text-indent: 60px;
}

h1 {
    font-weight: normal;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}


/* Added a style for hyperlinks*/


/* unvisited link */

a:link {
    color: #3c1361;
}


/* visited link */

a:visited {
    color: #3c1361;
}


/* mouse over link */

a:hover {
    color: #3c1361;
}


/* selected link */

a:active {
    color: #3c1361;
}

.realistic.blur {
    pointer-events: none;
}

.realistic.blur-top:nth-child(1) {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.2deg) rotateX(45.2deg);
}

.realistic.blur-bottom:nth-child(1) {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.8deg) rotateX(44.8deg);
}

.realistic.blur-top:nth-child(2) {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.4deg) rotateX(45.4deg);
}

.realistic.blur-bottom:nth-child(2) {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.6deg) rotateX(44.6deg);
}

.realistic.blur1 {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(8.4deg) rotateX(45.4deg);
}

.realistic.blur2 {
    transform: scale(0.75, 0.75) perspective(1200px) rotateY(7.6deg) rotateX(44.6deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(238, 238, 238, 0.3), rgba(238, 238, 238, 0));
    z-index: 99;
    pointer-events: none;
}


/*------------*/

.header {
    height: 94vh;
    background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8)), background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand {
    font-size: 20px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    z-index: 3;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
}


/*----------------*/

@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
}

form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
}

form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 126px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}


/* Clearfix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/*------------------------*/

#example-table {
    width: 100%;
    font-family: sans-serif;
}


/*-----------------------*/

.user {
    width: 90%;
    max-width: 340px;
    margin: 5vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btnsignup {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background-color: palevioletred;
    transition: 0.3s;
    &:hover {
        background: darken($color-primary, 5%);
    }
}

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }
    50% {
        background-position: 100% 0
    }
    100% {
        background-position: 0 0
    }
}

/*-----------------------*/
